::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app {
  margin: 2rem;
  padding: 2rem;
  border: 0.5rem solid #fff;
  box-sizing: border-box;
}

h6 {
  font-family: "Fira Code", "Source Code Pro", monospace;
}

h5 {
  font-family: "Fira Code", "Source Code Pro", monospace;
}

h4 {
  font-family: "Fira Code", "Source Code Pro", monospace;
}

h3 {
  font-family: "Fira Code", "Source Code Pro", monospace;
}

h2 {
  font-family: "Fira Code", "Source Code Pro", monospace;
}

h1 {
  font-family: "Fira Code", "Source Code Pro", monospace;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

input {
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Fira Code", "Source Code Pro", monospace;
}

.row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

th {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

td {
  text-align: center;
}

.font-mono {
  font-family: "Fira Code", "Source Code Pro", monospace;
}

.font-serif {
  font-family: "Source Serif Pro", serif;
}

.font-sans {
  font-family: "Source Sans Pro", sans-serif;
}